.#{$app_prefix}-logo {
    
    cursor: pointer;

    // >img {
        width: 80px;
        position: absolute;
        top: 50%;
        margin-top: -22px;
        left: 10px;
    // }
}

.mui-bar-nav.mui-bar .mui-icon {
    font-weight: 800;
    background: theme-color('accent-color');
    padding: 8px !important;
}
