.mui-content{
    padding-top: 0px !important;
}
.mui-bar-nav{
    box-shadow: none !important;
}
.mui-bar {
    height:  60px !important;
}
.mui-icon {
    position: relative;
    top: 50%;
    margin-top: -20px;
}