
  <div id="fullpage">
	  <div class="section " id="section0">
		  <h1>fullPage.js</h1>
		  <p>Continuous Scrolling Enabled</p>
		  
	  </div>
	  <div class="section" id="section1">
		  <div class="intro">
			  <h1>Around the world scrolling</h1>
			  <p>Go to the first section and scroll up or to the last one and scroll down to see how it works.</p>
		  </div>
	  </div>
	  <div class="section" id="section2">
		  <div class="intro">
			  <h1>Scroll Down</h1>
			  <p>And it will animate down to the first section</p>
		  </div>
	  </div>
  </div>
  
