<header class="ke-nuo-header">
    <nav>
        <div class="ke-nuo-logo"><img src="../../../assets/img/girl.jpg" /></div>
        <ul>
            <li class="cur">
                <strong>公司简介</strong>
                <center><span></span></center>
            </li>
            <li>
                <strong>成功案例展示</strong>
                <center><span></span></center>

            </li>
            <li>
                <strong>公司风采</strong>
                <center><span></span></center>
            </li>
            <li>
                <strong>联系我们</strong>
                <center><span></span></center>
            </li>
        </ul>
    </nav>
</header>