<!--
 * @Description: TODO 
 * @Author: zb
 * @Date: 2019-08-31 18:57:40
 * @LastEditors: zb
 * @LastEditTime: 2019-09-01 22:14:10
 -->
<div id="fullpage">
	<div class="section">
		<div class="fp-bg"></div>
		<div class="slide" id="slide1">
			<div class="content">
				<div class="about_us">
					<h3>公司简介</h3>
				</div>
				<div class="about_title">
					<p>精心设计，用心服务</p>
				</div>
				<div class="about_desc">
					<p>普联软件股份有限公司是国家规划布局内重点软件企业，国家认定的高新技术企业，科技部认定的国家火炬计划软件产业基地骨干企业，山东省企业移动计算工程技术研究中心和山东省软件工程技术中心依托企业。公司总部位于济南高新区齐鲁软件园，在北京、上海、深圳、成都、西安、武汉、合肥、乌鲁木齐、库尔勒、香港、日本大阪等地设有区域机构。
					</p>
					<p style="height:8px;"></p>
					<p>普联软件是大型企业管理信息化方案及IT综合服务提供商，主要面向石油、化工、建筑、电力、地产、装备制造、银行、保险、政府事业等行业客户，广泛从事生产、经营、财务、资金、内控、监管等领域的信息化服务，提供信息系统的方案设计、软件开发、系统实施及技术支持。
					</p>
					<p style="height:8px;"></p>
					<p>普联软件拥有包括中国石油、中国石化、中国海油、中国建筑、中国大唐、中国广核、中化集团、中国葛洲坝集团等大型央企，万达集团、龙湖集团、潍柴动力、紫金矿业等行业龙头企业，浦发银行、农业银行、招商银行、太平洋保险、中国人寿等金融保险机构，以及财政部、银保监会等政府部门在内的高端客户群，是中国500强中多家企业的信息化核心合作伙伴。
					</p>
					<p style="height:8px;"></p>
					<p>公司专注企业信息化工作近20年，特别是在中国石油、中国石化、中国建筑等集团信息化实践中，历经会计集中核算、资金集中管理、ERP融合、共享服务平台、财务一体化平台等标志性项目，积累了丰富的成功案例和实施经验，对于超大型复杂结构企业集团管理软件的设计、开发、集成项目具有突出的交付能力。
					</p>
					<p style="height:8px;"></p>
					<p>公司积极推动企业信息化应用深化提升，深度参与财政部管理会计专项课题研究和实践转化工作，是国内较早开展全球司库业务、共享服务业务、XBRL应用研究及系统研发的代表厂商之一。技术研究团队始终紧跟技术发展趋势，掌握云计算、大数据、物联网、人工智能、区块链等新一代信息技术，在所从事的业务领域具备持续创新能力。
					</p>
					<p style="height:8px;"></p>
					<p>公司积极依托在高端市场积累的业务经验、解决方案、软件复用技术及支持复用的软件产品和工具，加强与国内外业界机构的交流与合作，加快行业和领域的业务拓展。通过软件开发平台化、解决方案产品化、客户服务本地化策略，为客户提供更快速高效的服务。不断努力，持续提供更有价值的产品和服务，成为客户信赖的长期合作伙伴。
					</p>
				</div>
				<div class="about_tail">
					大型企业信息化解决方案提供商
					<br> 行业管理软件及互联网服务提供商
				</div>
			</div>
		</div>
		<div class="slide" id="slide2">
			<div class="content">
				<div class="about_us">
					<h3>公司简介</h3>
				</div>
				<div class="about_title">
					<p>精心设计，用心服务</p>
				</div>
				<div class="about_desc">
					<p>普联软件股份有限公司是国家规划布局内重点软件企业，国家认定的高新技术企业，科技部认定的国家火炬计划软件产业基地骨干企业，山东省企业移动计算工程技术研究中心和山东省软件工程技术中心依托企业。公司总部位于济南高新区齐鲁软件园，在北京、上海、深圳、成都、西安、武汉、合肥、乌鲁木齐、库尔勒、香港、日本大阪等地设有区域机构。
					</p>
					<p style="height:8px;"></p>
					<p>普联软件是大型企业管理信息化方案及IT综合服务提供商，主要面向石油、化工、建筑、电力、地产、装备制造、银行、保险、政府事业等行业客户，广泛从事生产、经营、财务、资金、内控、监管等领域的信息化服务，提供信息系统的方案设计、软件开发、系统实施及技术支持。
					</p>
					<p style="height:8px;"></p>
					<p>普联软件拥有包括中国石油、中国石化、中国海油、中国建筑、中国大唐、中国广核、中化集团、中国葛洲坝集团等大型央企，万达集团、龙湖集团、潍柴动力、紫金矿业等行业龙头企业，浦发银行、农业银行、招商银行、太平洋保险、中国人寿等金融保险机构，以及财政部、银保监会等政府部门在内的高端客户群，是中国500强中多家企业的信息化核心合作伙伴。
					</p>
					<p style="height:8px;"></p>
					<p>公司专注企业信息化工作近20年，特别是在中国石油、中国石化、中国建筑等集团信息化实践中，历经会计集中核算、资金集中管理、ERP融合、共享服务平台、财务一体化平台等标志性项目，积累了丰富的成功案例和实施经验，对于超大型复杂结构企业集团管理软件的设计、开发、集成项目具有突出的交付能力。
					</p>
					<p style="height:8px;"></p>
					<p>公司积极推动企业信息化应用深化提升，深度参与财政部管理会计专项课题研究和实践转化工作，是国内较早开展全球司库业务、共享服务业务、XBRL应用研究及系统研发的代表厂商之一。技术研究团队始终紧跟技术发展趋势，掌握云计算、大数据、物联网、人工智能、区块链等新一代信息技术，在所从事的业务领域具备持续创新能力。
					</p>
					<p style="height:8px;"></p>
					<p>公司积极依托在高端市场积累的业务经验、解决方案、软件复用技术及支持复用的软件产品和工具，加强与国内外业界机构的交流与合作，加快行业和领域的业务拓展。通过软件开发平台化、解决方案产品化、客户服务本地化策略，为客户提供更快速高效的服务。不断努力，持续提供更有价值的产品和服务，成为客户信赖的长期合作伙伴。
					</p>
				</div>
				<div class="about_tail">
					大型企业信息化解决方案提供商
					<br> 行业管理软件及互联网服务提供商
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="fp-bg"></div>
	</div>
	<div class="section fp-auto-height">
		#include("../../../../components/pc/footer.html")
	</div>
</div>