#fullpage {
    .section {
        // .fp-scroller {
        //     height: 100%;
        // }

        .fp-bg {
            transition: transform 1000ms ease;
            background-position: center 60%;
            top: 0;
            bottom: 0;
            width: 100%;
            position: absolute;
            z-index: -1;
            background-size: cover;
            transform: translate3d(0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        &:nth-child(1) {
            padding-top: 80px;

            .content {
                .about_us {
                    margin: 20px auto;
                    width: 240px;

                    h3 {
                        font-size: 48px;
                        line-height: 50px;
                        font-weight: normal;
                        color: #fff;
                        text-align: center;
                    }
                }

                .about_title {
                    margin: 0 auto 20px;
                    width: 320px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    border-top: 1px solid rgba(255, 255, 255, 0.5);

                    p {
                        height: 40px;
                        font-size: 20px;
                        line-height: 40px;
                        font-family: "Microsoft YaHei UI Light";
                        color: #fff;
                        text-align: center;
                    }
                }

                .about_desc {
                    color: #fff;
                    width: 80%;
                    margin: auto 10%;
                    font-size: 13px;
                    line-height: 18px;
                    text-align: left;

                    p {
                        text-indent: 2em;
                    }
                }

                .about_tail {
                    color: #f9d115;
                    font-size: 16px;
                    line-height: 25px;
                    margin: 15px auto;
                    width: 650px;
                    text-align: center;
                }
            }

            .fp-bg {
                background-image: url(~@img/bg2.jpg)
            }
        }

        &:nth-child(2) {
            .fp-bg {
                background-image: url(~@img/bg3.jpg)
            }
        }
    }
}