#fullpage{
    .section {
        .bg{
            width: 100%;
            height: 100%;
            position: relative;
        }
        &:nth-child(1) {
            .bg {
                background-image: url(~@img/bg2.jpg)
            }
        }
        &:nth-child(2) {
            .bg {
                background-image: url(~@img/bg3.jpg)
            }
        }
    }
}