<div class="footer" style="min-width:1170px;">
        <div class="info">
          <ul class="info-content">
            <li>
              <h3 class="info-title">关于我们</h3>
              <div class="info-subcontent"> 
              <a target="_blank" class="un" title="公司简介" href="/about/about.html#nav1">公司简介</a> 
              <a target="_blank" class="un" title="核心实力" href="/about/about.html#nav2">核心实力</a> 
              <a target="_blank" class="un" title="公司理念" href="/about/about.html#nav4">公司理念</a> 
              <a target="_blank" class="un" title="发展历程" href="/about/about.html#nav3">发展历程</a>
              <a target="_blank" class="un" title="注册商标" href="/about/about.html#nav6">注册商标</a>
               <a target="_blank" class="un" title="招贤纳士" href="/about/about.html#nav7">招贤纳士</a> </div>
            </li>
            <li>
              <h3 class="info-title">新闻中心</h3>
              <div class="info-subcontent"> 
              <a target="_blank" class="un" title="普联动态" href="/news/newsCenter.html#newsPldt">普联动态</a> 
              <a target="_blank" class="un" title="媒体报道" href="/news/newsCenter.html#newsMtbd">媒体报道</a> </div>
            </li>
            <li>
              <h3 class="info-title">产品方案</h3>
              <div class="info-subcontent"> 
              <a target="_blank" class="un" title="领域解决方案" href="/solution/productSolution.html#domain">领域解决方案</a> 
              <a target="_blank" class="un" title="行业解决方案" href="/solution/productSolution.html#industry">行业解决方案</a> 
              <a target="_blank" class="un" title="软件产品" href="/solution/productSolution.html#soft">软件产品</a> 
              <a target="_blank" class="un" title="典型案例" href="/solution/productSolution.html#case">典型案例</a> 
              <a target="_blank" class="un" title="云服务" href="/service/svcCloud.html">云服务</a> </div>
            </li>
            <li>
              <h3 class="info-title">联系我们</h3>
              <div class="info-subcontent"> 
              <a class="un" title="服务支持" target="_blank" href="/support/svcSupport.html">服务支持</a>
               <a class="un" title="联系我们" target="_blank" href="/about/about.html#nav5">联系我们</a> </div>
            </li>
          </ul>
          <div class="r-ma"></div>
          <div class="footer-call">
            <h3>0531-88871165</h3>
            <span>（销售热线）</span>
            <div class="homeadd">济南市高新区新泺大街1166号奥盛大厦三号楼720 </div>
          </div>
        </div>
        <div class="copyright">
          <div>版权所有 © 2001-2015 山东柯诺信息技术有限公司 · <a href="" style="color: #979da4; text-decoration:underline;">鲁ICP备13012779号-5</a> <span></span></div>  
        </div>
      </div>