<!--
 * @Description: TODO 
 * @Author: zb
 * @Date: 2019-08-31 18:57:40
 * @LastEditors: zb
 * @LastEditTime: 2019-09-02 01:59:38
 -->
<header class="ke-nuo-header">
    <nav>
        <div class="ke-nuo-logo"><img src="../../assets/img/girl.jpg" /></div>
        <ul class="ke-nuo-menus">
            <li>
                <strong><a href="./index.html">{{key_1}}</a></strong>
                <center><span></span></center>
            </li>
            <li>
                <strong><a href="/case.html">{{key_2}}</a></strong>
                <center><span></span></center>

            </li>
            <li>
                <strong>{{key_3}}</strong>
                <center><span></span></center>
            </li>
            <li>
                <strong>{{key_4}}</strong>
                <center><span></span></center>
            </li>
        </ul>
        <div class="nav-right">
            <div class="nav-lang">
                <ul class="lang-downlist">
                </ul>
            </div>
        </div>
        <a id="offCanvasBtn"  class=""></a>
    </nav>
</header>