#fullpage {
    .section {
        // .fp-scroller {
        //     height: 100%;
        // }

        .fp-bg {
            transition: transform 1000ms ease;
            background-position: center 60%;
            top: 0;
            bottom: 0;
            width: 100%;
            position: absolute;
            z-index: -1;
            background-size: cover;
            transform: translate3d(0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        &:nth-child(1) {
            .fp-bg {
                background-image: url(~@img/bg6.jpg)
            }
            .title {
                position: absolute;
                top: 190px;
                left: 50%;
                width: 600px;
                max-height: 260px;
                margin-left: -300px;
                overflow: hidden;
                color: #fff;
                text-align: center;

                h2 {
                    color: #333;
                    font-size: 32px;
                    line-height: 48px;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
        }

        &:nth-child(2) {
            .fp-bg {
                background-image: url(~@img/bg7.png)
            }
            .content {
                .about_us {
                    margin: 20px auto;
                    width: 240px;

                    h3 {
                        font-size: 48px;
                        line-height: 50px;
                        font-weight: normal;
                        color: #000;
                        text-align: center;
                    }
                }

                .about_title {
                    margin: 0 auto 20px;
                    width: 320px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    border-top: 1px solid rgba(0, 0, 0, 0.5);

                    p {
                        height: 40px;
                        font-size: 20px;
                        line-height: 40px;
                        font-family: "Microsoft YaHei UI Light";
                        color: #000;
                        text-align: center;
                    }
                }

                .about_desc {
                    padding: 0 100px;
                    display: flex;

                    figure {
                        position: relative;
                        width: 33.33%;
                        margin-right: 2rem;

                        &:last-child {
                            margin-right: 0 !important;
                        }

                        &:first-child {
                            p {
                                margin-top: 56px;
                            }
                        }

                        &:last-child {
                            p {
                                margin-top: 56px;
                            }
                        }

                        &:nth-child(2) {
                            p {
                                margin-bottom: 28px;
                            }
                        }

                        img {
                            position: relative;
                            width: 100%;
                        }

                        p {
                            color: #000;
                            text-indent: 2em;
                        }

                    }
                }
            }
        }


        &:nth-child(3) {
            .fp-bg {
                background-image: url(~@img/bg9.png);
                // .render-color{
                //     width: 100%;
                //     height: 100%;
                //     background: linear-gradient(135deg,rgba(94,136,255,.85),rgba(111,48,254,.85));
                // }
            }
            .content {
                .about_us {
                    margin: 20px auto;
                    width: 240px;

                    h3 {
                        font-size: 48px;
                        line-height: 50px;
                        font-weight: normal;
                        color: #fff;
                        text-align: center;
                    }
                }

                .about_title {
                    margin: 0 auto 20px;
                    width: 320px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    border-top: 1px solid rgba(255, 255, 255, 0.5);

                    p {
                        height: 40px;
                        font-size: 20px;
                        line-height: 40px;
                        font-family: "Microsoft YaHei UI Light";
                        color: #fff;
                        text-align: center;
                    }
                }

                .about_desc {
                    color: #fff;
                    padding: 0 100px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    perspective: 1000;
                    .card {
                        width: calc(50% - 18px);
                        height: auto;
                        min-height: 360px;
                        border-radius: 8px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
                        display: inline-block;
                        background: rgba(0, 0, 0, 0.5);
                        cursor: pointer;
                        transition: 0.6s;
                        transform-style: preserve-3d;
                        &:hover {
                            transform: rotateY(180deg);
                        }
                        .front, .back {
                            backface-visibility: hidden;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                        }
                        .front {
                            z-index: 2;
                            padding: 8px 8px;
                            h3{
                                font-size: 24px;
                                font-weight: 700;
                                margin: 24px 0px 48px;
                                text-align: center;
                            }
                            p{
                                text-indent: 2rem;
                            }
                        }
                        .back {
                            padding: 8px 16px;
                            transform: rotateY(180deg);
                            &::-webkit-scrollbar{
                                width: 0px;
                            }
                            ul {
                                li {
                                    padding-top: 12px;
                                    h2 {
                                        height: 18px;
                                        font-size: 16px;
                                        line-height: 18px;
                                        margin-bottom: 4px;
                                    }
                                    p {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        // background: linear-gradient(135deg,rgba(94,136,255,.85),rgba(111,48,254,.85));
                    }


                    /* entire container, keeps perspective */
// .flip-container {
//     perspective: 1000;
//     }
//     /* flip the pane when hovered */
//     .flip-container:hover .flipper, .flip-container.hover .flipper {
//     transform: rotateY(180deg);
//     }
//     .flip-container, .front, .back {
//     width: 320px;
//     height: 480px;
//     }
//     /* flip speed goes here */
//     .flipper {
//     transition: 0.6s;
//     transform-style: preserve-3d;
//      position: relative;
//     }
//     /* hide back of pane during swap */
//     .front, .back {
//     backface-visibility: hidden;
//      position: absolute;
//     top: 0;
//     left: 0;
//     }
//     /* front pane, placed above back */
//     .front {
//         z-index: 2;
//         background-image: url(~@img/picture4.png)
//     }
//     /* back, initially hidden pane */
//     .back {
//     transform: rotateY(180deg);
//     }
                    // details {
                    //     position: relative;
                    //     width: 600px;
                    //     margin: auto;
                    //     padding-bottom: 12px;

                    //     summary {
                    //         font-size: 36px;
                    //         color: #007bff;
                    //         outline: none;
                    //         border-bottom: 2px solid #007bff;
                    //     }

                    //     .details-info {
                    //         position: relative;

                    //         // background: linear-gradient(#4BBFC3,#7BAABE);
                    //         .intr {
                    //             position: relative;
                    //             margin-bottom: 16px;
                    //         }

                    //         ul {
                    //             position: relative;

                    //             li {
                    //                 position: relative;

                    //                 div {
                    //                     position: relative;
                    //                     border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    //                     vertical-align: middle;
                    //                     min-height: 60px;
                    //                     display: flex;
                    //                     align-items: center;
                    //                     justify-content: flex-start;

                    //                     // line-height: 100px;
                    //                     img {
                    //                         width: 65px;
                    //                         // float: left;
                    //                         // margin: auto 0;
                    //                         // top: 0;
                    //                         // bottom: 0;
                    //                         // transform: translateY(50%);
                    //                     }

                    //                     div {
                    //                         margin-left: 12px;
                    //                         display: block;

                    //                         h2 {
                    //                             font-size: 20px;
                    //                             font-weight: bold;
                    //                             color: #007bff;
                    //                             margin-bottom: 8px;
                    //                         }

                    //                         p {
                    //                             font-size: 14px;
                    //                             color: #eee;
                    //                             line-height: 24px;
                    //                             vertical-align: middle;
                    //                         }
                    //                     }
                    //                 }
                    //             }
                    //         }
                    //     }
                    // }
                }
            }
        }

        &:nth-child(4) {
            .content {
                .about_us {
                    margin: 20px auto;
                    width: 240px;
                    margin: 0 auto 98px;

                    h3 {
                        font-size: 48px;
                        line-height: 50px;
                        font-weight: normal;
                        color: #fff;
                        text-align: center;
                    }
                }

                // .about_title {
                //     margin: 0 auto 20px;
                //     width: 320px;
                //     border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                //     border-top: 1px solid rgba(255, 255, 255, 0.5);
                //     margin: 0 auto 20px;
                //     p {
                //         height: 40px;
                //         font-size: 20px;
                //         line-height: 40px;
                //         font-family: "Microsoft YaHei UI Light";
                //         color: #fff;
                //         text-align: center;
                //     }
                // }

                .about_desc {
                    color: #fff;
                    padding: 0 100px;
                    overflow: auto;

                    figure {
                        position: relative;
                        width: 100%;
                        column-span: 1;

                        img {
                            width: 40%;
                            margin-right: 24px;
                        }

                        div {
                            width: calc(60% - 24px);
                            display: inline-block;
                            text-align: right;
                            color: #343a40;

                            h3 {
                                font-size: 28px;
                                font-weight: bold;
                            }

                            p {
                                font-size: 20px;
                            }
                        }
                    }

                    ul {
                        margin-top: 24px;

                        li {
                            >div {
                                background-color: #fff;
                                height: 12px;
                                width: 12px;
                                border-radius: 6px;
                                display: inline-block;
                                margin: auto 12px auto;
                            }
                        }
                    }

                }
            }

            .fp-bg {
                background-image: url(~@img/bg2.jpg)
            }
        }
    }
}