#fullpage {
    .section {
        // .fp-scroller {
        //     height: 100%;
        // }

        .fp-bg {
            transition: transform 1000ms ease;
            background-position: center 60%;
            top: 0;
            bottom: 0;
            width: 100%;
            position: absolute;
            z-index: -1;
            background-size: cover;
            transform: translate3d(0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        &:nth-child(1) {
            .fp-bg {
                background-image: url(~@img/bg6.jpg)
            }

            .title {
                position: absolute;
                top: 190px;
                left: 50%;
                width: 600px;
                max-height: 260px;
                margin-left: -300px;
                overflow: hidden;
                color: #fff;
                text-align: center;

                h2 {
                    color: #333;
                    font-size: 32px;
                    line-height: 48px;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
        }

        &:nth-child(2) {
            .fp-bg {
                background-image: url(~@img/bg7.png)
            }

            .content {
                .about_us {
                    margin: 20px auto;
                    width: 240px;

                    h3 {
                        font-size: 48px;
                        line-height: 50px;
                        font-weight: normal;
                        color: #000;
                        text-align: center;
                    }
                }

                .about_title {
                    margin: 0 auto 20px;
                    width: 320px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    border-top: 1px solid rgba(0, 0, 0, 0.5);

                    p {
                        height: 40px;
                        font-size: 20px;
                        line-height: 40px;
                        font-family: "Microsoft YaHei UI Light";
                        color: #000;
                        text-align: center;
                    }
                }

                .about_desc {
                    padding: 0 100px;
                    display: flex;

                    figure {
                        position: relative;
                        width: 33.33%;
                        margin-right: 2rem;

                        &:last-child {
                            margin-right: 0 !important;
                        }

                        &:first-child {
                            p {
                                margin-top: 56px;
                            }
                        }

                        &:last-child {
                            p {
                                margin-top: 56px;
                            }
                        }

                        &:nth-child(2) {
                            p {
                                margin-bottom: 28px;
                            }
                        }

                        img {
                            position: relative;
                            width: 100%;
                        }

                        p {
                            color: #000;
                            text-indent: 2em;
                        }

                    }
                }
            }
        }


        &:nth-child(3) {
            .fp-bg {
                background-image: url(~@img/bg9.png);
                // .render-color{
                //     width: 100%;
                //     height: 100%;
                //     background: linear-gradient(135deg,rgba(94,136,255,.85),rgba(111,48,254,.85));
                // }
            }

            .content {
                .about_us {
                    margin: 20px auto;
                    width: 240px;

                    h3 {
                        font-size: 48px;
                        line-height: 50px;
                        font-weight: normal;
                        color: #fff;
                        text-align: center;
                    }
                }

                .about_title {
                    margin: 0 auto 20px;
                    width: 320px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    border-top: 1px solid rgba(255, 255, 255, 0.5);

                    p {
                        height: 40px;
                        font-size: 20px;
                        line-height: 40px;
                        font-family: "Microsoft YaHei UI Light";
                        color: #fff;
                        text-align: center;
                    }
                }

                .about_desc {
                    color: #fff;
                    padding: 0 100px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    perspective: 1000;

                    .card {
                        position: relative;
                        width: calc(50% - 18px);
                        height: auto;
                        min-height: 360px;
                        border-radius: 8px;
                        // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
                        display: inline-block;
                        background: rgba(255, 255, 255, 0);
                        // background-image: url(~@img/bg8.png);
                        object-fit: scale-down;
                        cursor: pointer;
                        transition: 0.6s;
                        color:#eee;
                        transform-style: preserve-3d;
                        border: 0px;                        
                        &:hover {
                            transform: rotateY(180deg);
                        }

                        .front,
                        .back {
                            backface-visibility: hidden;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                        }

                        .front {
                            z-index: 2;
                            padding: 8px 8px;

                            h3 {
                                font-size: 24px;
                                font-weight: 700;
                                margin: 24px 0px 48px;
                                text-align: center;
                                color: #007bff;
                            }

                            p {
                                text-indent: 2rem;
                            }
                        }

                        .back {
                            padding: 8px 16px;
                            transform: rotateY(180deg);

                            &::-webkit-scrollbar {
                                width: 0px;
                            }

                            ul {
                                li {
                                    &:nth-child(1) , &:nth-child(2) {
                                        h2{
                                            color: #dc3545;
                                            font-weight: 700;
                                        }
                                    }
                                    padding-top: 12px;

                                    h2 {
                                        height: 18px;
                                        font-size: 16px;
                                        line-height: 18px;
                                        margin-bottom: 4px;
                                    }

                                    p {
                                        padding-left: 2rem;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        // background: linear-gradient(135deg,rgba(94,136,255,.85),rgba(111,48,254,.85));
                    }
                }
            }
        }

        &:nth-child(4) {
            .fp-bg {
                background-image: url(~@img/bg8.png)
            }

            .content {
                .about_desc {
                    color: #333;
                    padding: 0 100px;
                    overflow: auto;

                    figure {
                        position: relative;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        >div:first-child{
                            width: 543px;
                            margin-right: 24px;
                            display: inline-block;
                            background-image: url(~@img/picture6.jpg);
                            height: 324px;
                            >div{
                                background: linear-gradient(135deg,rgba(94,136,255,.85),rgba(111,48,254,.85));
                            }
                        }

                        >div:last-child {
                            width: calc(100% - 543px - 24px);
                            display: inline-block;
                            text-align: right;
                            color: #343a40;

                            h3 {
                                font-size: 28px;
                                font-weight: bold;
                            }

                            p {
                                font-size: 20px;
                            }
                        }
                    }

                    ul {
                        margin-top: 24px;

                        li {
                            position: relative;
                            // padding-right: 12px;
                            >div {
                                background-color: #333;
                                height: 12px;
                                width: 12px;
                                border-radius: 6px;
                                display: inline-block;
                                margin: auto 12px auto;
                                position: absolute;
                                top:6px;
                                left: 0px;
                            }
                            P {
                                // text-indent: 24px;
                                margin-left: 36px;
                            }
                        }
                    }

                }
            }
        }
    }
}