<header class="ke-nuo-header">
    <nav>
        <div class="ke-nuo-logo"><img src="../../../assets/img/girl.jpg" /></div>
        <ul class="ke-nuo-menus">
            <li class="cur">
                <strong>{{introduce}}</strong>
                <center><span></span></center>
            </li>
            <li>
                <strong>成功案例展示</strong>
                <center><span></span></center>

            </li>
            <li>
                <strong>公司风采</strong>
                <center><span></span></center>
            </li>
            <li>
                <strong>联系我们</strong>
                <center><span></span></center>
            </li>
        </ul>
        <div class="nav-right">
            <div class="nav-lang">
                <ul class="lang-downlist">
                    <li class="downlist-item" data-langType="1">
                        <a class="item-link">中</a>
                    </li>
                    <li class="downlist-item"  data-langType="0">
                        <a class="item-link">EN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>