<!--
 * @Description: TODO   侧边栏
 * @Author: zb
 * @Date: 2019-09-12 22:50:01
 * @LastEditors: zb
 * @LastEditTime: 2019-09-12 23:47:30
 -->
<!--菜单部分-->
<aside id="offCanvasSide" class="mui-off-canvas-right">
    <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="menu-title">
                <img src="https://zos.alipayobjects.com/rmsportal/NUqycmdbqYzlmiQ.png">
            </div>
            <ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted">
                <li class="mui-table-view-cell menu-li">
                    <a class="mui-navigate-right">
                        {{key_0}}
                    </a>
                </li>
                <li class="mui-table-view-cell menu-li">
                    <a class="mui-navigate-right">
                        {{key_2}}
                    </a>
                </li>
                <li class="mui-table-view-cell menu-li">
                    <a class="mui-navigate-right">
                        {{key_3}}
                    </a>
                </li>
                <li class="mui-table-view-cell menu-li">
                    <a class="mui-navigate-right">
                        {{key_4}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="language mui-navigate-right">
            <select>
            </select>
        </div>
        <div class="mui-scrollbar mui-scrollbar-vertical">
            <div class="mui-scrollbar-indicator"
                style="transition-duration: 0ms; display: none; height: 665px; transform: translate3d(0px, 0px, 0px) translateZ(0px);">
            </div>
        </div>
    </div>
</aside>