.footer {
    width: 100%;
    height: 373px;
    background-color: #27303f;
    .info {
        width: 100%;
        padding: 0px 100px;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .info-content {
            // float: left;
            height: 306px;
            overflow: hidden;
            max-width: 515px;
            padding-top: 40px;
            li {
                width: 25%;
                float: left;
            }
            .info-title {
                color: #d7d8d9;
                font-size: 18px;
                height: 18px;
                line-height: 18px;
                font-weight: normal;
            }
            .info-subcontent {
                margin-top: 18px;
                a {
                    color: #9b9ea0;
                    display: block;
                    line-height: 28px;
                    font-size: 14px;
                    -webkit-transition: color .3s;
                    transition: color .3s;
                }
            }
        }
        .r-ma {
            // float: right;
            width: 240px;
            height: 306px;
            background-image: url(~@img/footer_2weima.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-color: #212936;
        }
        .footer-call {
            // float: right;
            width: 200px;
            height: 290px;
            background-image: url(~@img/footer_tell.png);
            background-repeat: no-repeat;
            background-position: center 60px;
            text-align: center;
            margin-right: 24px;
            h3 {
                color: #aaaeb0;
                font-size: 24px;
                margin-top: 128px;
            }
            span {
                color: #8f9091;
                font-size: 12px;
            }
            .homeadd {
                line-height: 16px;
                color: #8f9091;
                background-image: url(~@img/home-add.png);
                background-repeat: no-repeat;
                background-position: left 14px;
                padding-left: 30px;
                text-align: left;
                border-top: 1px solid #3f4754;
                margin-top: 10px;
                padding-top: 8px;
            }
        }

    }
    .copyright {
        background-color: #171f2a;
        height: 70px;
        div {
            // min-width: 1000px;
            // max-width: 1150px;
            padding: 0px 100px;
            line-height: 70px;
            color: #979da4;
            margin: 0 auto;
            font-size: 13px;
        }
        span {
            display: block;
            height: 70px;
            float: right;
            width: 240px;
            background-color: #121821;
            // background-image: url(~@img/footer_logo.png);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}