$header-height: 80px;

.#{$app_prefix}-header {
    background-color: rgba(theme-color("dark"), 0);
    box-sizing: border-box;
    height: $header-height;
    width: 100%;
    vertical-align: middle;
    line-height: $header-height;
    position: absolute;
    margin: auto auto;
    transition: all .5s ease-in;
    top: 0;
    z-index: 1000;
    &.static {
        background-color: theme-color('light');
        position: static;
    }

    &.hidden {
        transition: all .5s ease-out;
        transform: translateY(-100%);
    }

    >nav {
        margin: 0 auto;
        width: 960px;
        position: relative;
        height: 100%;
        box-sizing: border-box;
        zoom: 1;
        color: theme-color("dark");;

        .#{$app_prefix}-logo {
            height: 100%;
            line-height: $header-height;
            float: left;
            cursor: pointer;
            @include padding-right-md;

            // margin-top: 8px;
            >img {
                position: relative;
                height: 80%;
                max-width: 200px;
                border-radius: 100px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        >ul {
            margin-left: 240px;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            // float: right;

            >li {
                display: inline-block;
                line-height: 80px;
                height: 100%;
                @include padding-horizonal-md;
                text-align: center;
                min-width: 110px;
                cursor: pointer;

                >strong {
                    position: relative;
                    font-weight: 400;
                    display: block;
                    width: 100%;
                    font-size: 18px;
                    text-align: center;
                    height: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    a{
                        text-decoration: none;
                        color: theme-color("dark");
                        display: inline-block;
                        height: 100%;
                    }
                }

                span {
                    display: block;
                    position: relative;
                    height: 3px;
                    top: -3px;
                    background-color: theme-color("danger");
                    width: 0px;
                }

                &:hover {
                    >strong {
                        color: theme-color("danger");
                    }

                    span {
                        width: 100%;
                        transition: width .3s ease-in;
                    }
                }

                &.cur {
                    >strong {
                        color: theme-color("danger");
                        a{
                            color:  theme-color("danger")!important;
                        }
                    }

                    span {
                        width: 100%;
                    }
                }
            }
        }

        /*  语言选择组件样式 */
        .nav-right {
            position: absolute;
            height: 24px;
            top: 50%;
            right: 0;

            .nav-lang {
                position: relative;
                background-color: #000;

                .lang-downlist {
                    position: absolute;
                    left: 0;
                    top: -12px;
                    border-radius: 13px;
                    &:hover {
                        >.downlist-item {
                            display: block !important;
                            padding-bottom: 10px !important;
                            transition: display .5s ease-in;
                        }
                    }

                    .downlist-item {
                        display: none;
                        padding-bottom: 10px;
                        transition: all .5s ease-out;

                        &.cur {
                            display: block !important;
                            padding-bottom: 0;
                            .item-link {
                                color: theme-color("danger");
                                border: 1px solid theme-color("danger");
                            }
                        }

                        .item-link {
                            text-decoration: none;
                            color: theme-color("dark");
                            display: block;
                            width: 22px;
                            height: 22px;
                            border: 1px solid theme-color("dark");
                            border-radius: 100%;
                            line-height: 20px;
                            text-align: center;
                            font-size: 12px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

;