@import '../index.scss';

$header-height: 64px;

.#{$app_prefix}-header {
    background-color: rgba(theme-color(), .1);
    box-sizing: content-box;
    height: $header-height;
    padding: $gutter-lg $gutter-sm;
    vertical-align: middle;
    line-height: $header-height - 2 * $gutter;
    position: sticky;
    top: $header-height;

    >nav {
        position: relative;
        height: 100%;
        .#{$app_prefix}-logo{
            height: 100%;
            float: left;
            cursor: pointer;
            @include padding-right-md;
            border-radius: 4px;
            >img{
                position: relative;
                height: 100%;
                max-width: 200px;
            }
        }
        >ul {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;

            >li {
                display: inline-block;
                line-height: 31px;
                height: 100%;
                @include padding-md;
                text-align: center;
                cursor: pointer;
                border-bottom: 1px solid rgba(#000000,0);
                transition: border-bottom 1s ease-in-out;
                &:hover{
                    border-bottom: 1px solid theme-color();
                }
            }
        }
    }
};