<!--
 * @Description: TODO 
 * @Author: zb
 * @Date: 2019-08-31 18:57:40
 * @LastEditors: zb
 * @LastEditTime: 2019-09-05 00:02:09
 -->
<div id="fullpage">
	<div class="section" id="section1">
		<div class="fp-bg">
			<div class="title" data-scroll-reveal>
				<h2>
					以应用软件开发和服务为核心<br />
					国内、国外市场同步发展
				</h2>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="fp-bg">
			<div class="content" id="">
				<div class="about_us">
					<h3>{{key_1}}</h3>
				</div>
				<div class="about_title">
					<p>{{key_5}}</p>
				</div>
				<div class="about_desc">
					<figure>
						<img src="../../../../assets/img/picture1.jpg" />
						<p>
							{{key_6}}
						</p>
					</figure>
					<figure>
						<p>
							{{key_7}}
						</p>
						<img src="../../../../assets/img/picture3.jpg" />
					</figure>
					<figure>
						<img src="../../../../assets/img/picture2.jpg" />
						<p>
							{{key_8}}
						</p>
					</figure>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="fp-bg">
			<div class="render-color">

			</div>
		</div>
		<div class="slide">
			<div class="content">
				<div class="about_us">
					<h3>{{key_9}}</h3>
				</div>
				<div class="about_title">
					<p>{{key_10}}</p>
				</div>
				<div class="about_desc">
					<div class="card">
						<div class="front">
							<h3>人员构成</h3>
							<p class="info">
								团队由技术总监&产品经理、项目经理&系统架构师、软件系统设计师&交互设计师&架构师、软件工程师组成的高精尖技术团队。其中获得PMP项目管理资格认证4人。
							</p>
						</div>
						<div class="back">
							<ul>
								<li>
									<h2>产品经理&技术总监 4人</h2>
									<p>
										技术研发经验10年以上，获得PMP资格认证4人，<br />
										大型项目管理经验丰富，能够独立完成大型项目的解决方案
									</p>
								</li>
								<li>
									<h2>项目经理&系统架构师 6人</h2>
									<p>
										项目经理熟悉项目管理九大知识领域，管理经验丰富<br />
										能够独立完成大型项目的系统架构方案
									</p>
								</li>
								<li>
									<h2>软件系统设计师&交互设计师&架构师 5人</h2>
									<p>
										曾担任大型系统界面交互设计结构设计师工作
									</p>
								</li>
								<li>
									<h2>高级软件工程师 7人</h2>
									<p>
										能独立承担各项目的开发设计工作
									</p>
								</li>
								<li>
									<h2>软件工程师 8人</h2>
									<p>
										山东大学，山东师范大学，山东财经大学，齐鲁工业大学，齐鲁理工大学等省内重点高校本科生
									</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="card">
						<div class="front">
							<h3>员工工作经历及经验</h3>
							<p class="info">
								高级架构师与高级工程师均有多年日本工作经验，在海外美国，东京、大阪、名古屋以及国内的北京、大连等信息化程度高的大型城市中各大型互联网企业任职过，工作经历丰富。另外，核心层对大型项目管理经验丰富，技术研发经验10年以上能够独立完成大型项目的系统解决方案。
							</p>
						</div>
						<div class="back">
							<ul>
								<li>
									<h2>海外美国 1人</h2>
									<p>
										信息化程度高城市工作经历
									</p>
								</li>
								<li>
									<h2>海外大阪 5人</h2>
									<p>
										大型项目管理经验丰富
									</p>
								</li>
								<li>
									<h2>海外东京 10人</h2>
									<p>
										研发经验10年以上，大型项目管理经验丰富
									</p>
								<li>
									<h2>中国北京 12人</h2>
									<p>
										大型互联网公司工作经历
									</p>
								</li>
								<li>
									<h2>中国大连 18人 </h2>
									<p>
										大型互联网公司工作经历
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="fp-bg"></div>
		<div class="slide">
			<div class="content">
				<!-- <div class="about_us">
					<h3>{{key_11}}</h3>
				</div> -->
				<div class="about_desc">
					<figure>
						<div>
							<div></div>
						</div>
						<div>
							<h3>丰富的互联网经验</h3>
							<p>我们一起创造企业的辉煌，一起实现我们的理想奋斗</p>
						</div>
					</figure>
					<ul>
						<li>
							<div></div>
							<p>产品：PC商城，APP商城，微信H5商城，分销APP，智慧社区APP，全景购物，后台管理系统ERP等。</p>
						</li>
						<li>
							<div></div>
							<p>我们的团队，通过各类电商项目的实践，吸取了行业经验，并对互联网行业有了更深的了解，获得丰富的电商及互联网运营经验，为公司的发展奠定了基础。</p>
						</li>
						<li>
							<div></div>
							<p>成功的案例有【全景购物】【兴旺微商】【智慧社区】【爱编织】【线上选房】【信用卡智能规划】等。</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="section fp-auto-height">
		#include("../../../../components/pc/footer.html")
	</div>
</div>